:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{box-sizing: border-box}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
body {
  margin: 0;
  min-height: 100vh;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: .2s linear;
  color: #FFFF;
}
button.active{border-color: #646cff;background-color: #646cff}
.container{
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
@media (hover:hover) {
  a:hover {color: #535bf2;}
  button:hover {border-color: #646cff;background-color: #646cff}
}

div#app, .mainView {display: flex;flex-direction: column;}
div#app{min-height: 100vh;}
.mainView{flex: 1 1 auto;padding: 60px 0;position: relative}